* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* The side navigation menu */
.sidenav {
    height: 100vh; /* 100% Full-height */
    width: 50px;
    position: fixed; /* Stay in place */
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(233, 233, 233);
    padding-top: 10px; /* Place content 60px from the top */
}
    
/* The navigation menu links */
.sidenav a {
    padding: 10px 6px 10px 0px;
    text-decoration: underline;
    font-size: 19px;
    text-align: center;
    color: #000000;
    display: block;
}

a.home {
    background-image: url(img/home.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 2em;
}

#pagewrapper {
    margin-left: 50px;
}

@media (min-width: 710px) {
    .sidenav {
        width: 150px;
        transition:  color 300ms, background-color 300ms;
    }
    .sidenav a {
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
    }
        
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #808080;
    }

    a.home {
        width: 100%;
    }

    #pagewrapper {
        margin-left: 150px;
    }
}

body {
    background: linear-gradient(to bottom, turquoise, purple);
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
    color: white;
    text-shadow: purple 0 0 7px;
}

a {
    text-decoration: underline;
    color: white;
}

a.block {
    background-color: #333;
    display: block;
    color: white;
    width: 100%;
    padding: 5px 20px;
    margin-top: 8px;
    font-size: 1.5em;
    text-transform: uppercase;
}

main {
    width: 90%;
    margin: 10px auto;
}

main>div, img {
    width: 100%;
    margin: 10px 0;
    border-radius: 25px;
    box-shadow: yellowgreen 0 0 25px;
}

main>div {
    min-height: 292px;
    text-align: center;
    background-color: #2f8d66;
    padding-bottom: 25px;
}

h2 {
    color: white;
    text-shadow: purple 0 0 8px;
    padding: 8px;
    font-size: 1.7em;
}

@media (min-width: 710px) {
    a {
        text-decoration: none;
        transition: color 300ms, background-color 300ms;
    }

    a:hover {
        background-color: white;
        color: black;
    }

    main {
        display: flex;
        justify-content: space-around;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    
    main>div, img {
        width: 390px;
        margin: 20px;
    }
}

