* {
  box-sizing: border-box;
}

/* The side navigation menu */
.sidenav {
    height: 100vh; /* 100% Full-height */
    width: 150px;
    position: fixed; /* Stay in place */
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(233, 233, 233);
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #808080;
  }
  
  #content {
    margin-left: 160px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }